.friendMessage {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.friendImageAndText {
    display: flex;
}


.friendImageAndText img {



    width: 48px;
    height: 48px;
    left: 1162px;
    top: 180px;
}

.friendText {

    width: 414px;
    height: 60px;
    left: 118px;
    top: 275px;
    background: #F5F7FB;
    box-shadow: 0px 5px 20px rgba(29, 33, 38, 0.03), 0px 1px 2px rgba(29, 33, 38, 0.1);
    border-radius: 10px;

}

.friendText:after {

}

.friendName {
    padding-left: 10px;

    width: 35px;
    height: 20px;
    left: 145px;
    top: 283px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */


    color: #000000;
}

.friendMessageText {
    padding-left: 10px;
    width: 374px;
    height: 20px;
    left: 145px;
    top: 307px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.friendTime {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    color: #000000;
    padding-left: 10px;
}
